<!-- footer start -->
<footer
  class="max-w-screen-2xl container px-12 md:px-20 mx-auto bg-[#13C5DD] text-white py-2"
>
  <div class="">
    <!-- Links Section -->
    <div class="flex justify-center space-x-2 md:space-x-10 mb-1">
      <a href="/" class="hover:text-black">Home</a>
      <a href="/about" class="hover:text-black">About</a>
      <a href="/contact" class="hover:text-black">Contact</a>
      <a href="/service" class="hover:text-black">Services</a>
      <a href="/treatment" class="hover:text-black">Treatments</a>
    </div>

    <!-- Developer Credit Section -->
    <div class="text-center">
      <p>
        &copy; <%= new Date().getFullYear() %> Dr. Ram Singh Yadav.

        <span class="font-medium">Developed by</span> Amit Upadhyay.
        <span>Phone:</span>
        <a href="tel:+919887494399" class="hover:text-black">+919887494399</a>
      </p>
    </div>
  </div>
</footer>

<!-- footer End -->
