<header>
  <div class="px-4 shadow mx-auto fixed top-0 right-0 left-0 bg-slate-50 z-50">
    <div class="navbar">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8"
              fill="black"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-slate-600 text-white rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li><a href="/" class="menu-link">Home</a></li>
            <li><a href="/about" class="menu-link">About</a></li>
            <li><a href="/service" class="menu-link">Services</a></li>
            <li>
              <a href="/treatment" class="menu-link">Treatments</a>
              <ul class="p-2">
                <li><a href="/treatment" class="menu-link">All</a></li>
                <li>
                  <a
                    href="/treatment/understanding-angioplasty"
                    class="menu-link"
                    >Angioplasty</a
                  >
                </li>
                <li>
                  <a
                    href="/treatment/aortic-valve-replacement-guide"
                    class="menu-link"
                    >Aortic Valve Replacement (AVR)</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="/contact" class="menu-link">Contact</a></li>
          </ul>
        </div>

        <a
          href="/"
          class="text-[#13C5DD] text-[12.3px] md:text-2xl font-bold uppercase"
          >Dr. Ram Singh Yadav</a
        >
      </div>
      <div class="navbar-center hidden lg:flex navbar-end">
        <ul class="menu menu-horizontal px-1 font-bold">
          <li class="hover:bg-[#13C5DD] hover:text-white rounded-lg">
            <a href="/" class="menu-link">Home</a>
          </li>
          <li class="hover:bg-[#13C5DD] hover:text-white rounded-lg">
            <a href="/about" class="menu-link">About</a>
          </li>
          <li class="hover:bg-[#13C5DD] hover:text-white rounded-lg">
            <a href="/service" class="menu-link">Services</a>
          </li>
          <li class="hover:bg-[#13C5DD] hover:text-white rounded-lg">
            <details>
              <summary>Treatments</summary>
              <ul class="p-2">
                <li
                  class="text-black hover:bg-[#13C5DD] hover:text-white rounded-lg"
                >
                  <a href="/treatment" class="menu-link">All</a>
                </li>
                <li
                  class="text-black hover:bg-[#13C5DD] hover:text-white rounded-lg"
                >
                  <a
                    href="/treatment/understanding-angioplasty"
                    class="menu-link"
                    >Angioplasty</a
                  >
                </li>
                <li
                  class="text-black hover:bg-[#13C5DD] hover:text-white rounded-lg"
                >
                  <a
                    href="/treatment/aortic-valve-replacement-guide"
                    class="menu-link"
                    >Aortic Valve Replacement (AVR)</a
                  >
                </li>
              </ul>
            </details>
          </li>
          <li class="hover:bg-[#13C5DD] hover:text-white rounded-lg">
            <a href="/contact" class="menu-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
