<div class="container max-w-screen-2xl px-4 md:px-20 mx-auto my-20">
  <div class="mb-6">
    <h5
      class="inline-block text-[#13C5DD] uppercase border-b-4 text-xl font-bold"
    >
      Insurances
    </h5>
    <h1 class="text-xl font-bold my-5">
      Cashless Medical Care Are Available For Major Insurance Companies
    </h1>
  </div>
  <div
    class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4"
    data-slider-nav-autoplay-interval="2000"
  >
    <div class="slider-container">
      <div>
        <img src="/images/chiranjeevi.png" loading="lazy" alt="chiranjeevi" />
      </div>
      <div>
        <img
          src="/images/Ayushman-Bharat-Color.svg"
          loading="lazy"
          alt="aayushman"
        />
      </div>
      <div>
        <img src="/images/cm-aayusman.png" loading="lazy" alt="cm-aayusman" />
      </div>
      <div>
        <img src="/images/rghs.png" loading="lazy" alt="rghs" />
      </div>
      <div>
        <img src="/images/railway.png" loading="lazy" alt="railway" />
      </div>
      <div>
        <img src="/images/echs.png" loading="lazy" alt="echs" />
      </div>
      <div>
        <img src="/images/esic.png" loading="lazy" alt="esic" />
      </div>
      <div>
        <img src="/images/cghs.png" loading="lazy" alt="cghs" />
      </div>
      <div>
        <img src="/images/aayushman.png" loading="lazy" alt="aayushman" />
      </div>
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button
      type="button"
      class="slider-nav slider-nav-next"
      aria-label="Go left"
    ></button>
  </div>
</div>
