<div class="bg-gray-100">
  <div class="container mx-auto text-center mt-20">
    <div class="bg-white shadow-md rounded-lg p-10">
      <h1 class="text-5xl font-bold text-[#13C5DD]">404</h1>
      <h2 class="text-2xl mt-4 text-gray-700">Oops! Page Not Found</h2>
      <p class="mt-4 text-lg text-gray-600">
        The page you are looking for might have been removed, had its name
        changed, or is temporarily unavailable.
      </p>
      <a
        href="/"
        class="mt-6 inline-block px-6 py-3 bg-[#13C5DD] text-white rounded-lg hover:bg-[#0f9abf] transition duration-300"
        >Go Back Home</a
      >
    </div>
    <%- include('./contact') %>
  </div>
</div>
