<!-- About Start -->
<div class="container max-w-screen-2xl px-4 md:px-20 mx-auto mt-10">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="w-full md:w-4/12 min-h-[500px] mb-12 lg:mb-0">
        <div class="relative h-full items-center">
          <img
            class="absolute w-full h-4/5 rounded-lg object-cover shadow ml-1 top-[70px]"
            src="/images/photo.jpg"
            alt="Dr. Ram Singh Yadav - Cardiac Surgeon"
          />
        </div>
      </div>
      <div class="w-full md:w-7/12 ml-8 md:mt-20">
        <section class="mb-6">
          <h2
            class="inline-block text-[#13C5DD] uppercase border-b-4 text-xl font-bold"
          >
            About Dr. Ram Singh Yadav
          </h2>
          <h1 class="text-3xl font-bold">
            Best Cardiac Care in Jaipur by Dr. Ram Singh Yadav, Renowned Cardiac
            Surgeon
          </h1>
          <p class="text-inherit text-lg mt-5">
            Dr. Ram Singh Yadav is a renowned Cardiac Surgeon in Jaipur, India
            with amazing skills and a high success rate in cardiac surgery. Dr.
            Yadav has performed thousands of cardiac Surgery successfully and
            carried one of the highest success rates in heart surgery,
            nationwide.
          </p>
        </section>

        <section class="mb-6">
          <h2 class="font-semibold">Educational Background</h2>
          <p>
            Dr. Yadav completed his M.Ch. in Cardiothoracic and Vascular Surgery
            (CTVS) from the SMS Medical College, Jaipur, Rajasthan. This
            institution is known for its excellence in medical education and has
            a rich legacy as one of the oldest medical colleges in the state.
          </p>
        </section>

        <section class="mb-6">
          <h2 class="font-semibold">Professional Experience</h2>
          <p>
            Dr Yadav has great experience, working in both government and
            private hospitals. Some of his notable affiliations include;
          </p>
          <ul>
            <li>
              <span class="font-medium"> S.K. Soni Hospital:</span> where he was
              a pioneer in the cardiac surgery department.
            </li>
            <li>
              <span class="font-medium">
                Heart and General Hospital (Tongea Heart):</span
              >
              Known for its all-inclusive heart healthcare solutions.
            </li>
            <li>
              <span class="font-medium">Jaipur Hospital, Tonk Road:</span> It is
              where he practices, still giving the best heart care services
              found anywhere in the country; right next to Nagar-Nigam Office,
              Lal Kothi, Jaipur.
            </li>
          </ul>
        </section>

        <section class="mb-6">
          <h2 class="font-semibold">Commitment to Excellence</h2>
          <p>
            To Dr. Yadav, nothing is more important than offering perfect heart
            treatment. His vast experience and unwavering commitment to patient
            welfare make him a reliable person in terms of cardiac operations.
            While undertaking complicated procedures to simple ones on the
            heart, he ensures the desired outcome for his patient.
          </p>
        </section>

        <section>
          <h2 class="font-semibold">Contact Information</h2>
          <p>
            Location: Jaipur Hospital, Tonk Road, Near Nagar-Nigam Office, Lal
            Kothi, Jaipur. For consultations and appointments, Please reach out
            to us at +91- 9829175031.
          </p>
        </section>
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 my-10">
      <div class="w-5/8 md:3/8 font-bold">
        <div class="bg-[#EFF5F9] text-center rounded-full py-4 lg:py-20">
          <img
            src="images/doctor.svg"
            alt="dr. ram singh yadav"
            class="w-12 mb-4 mx-auto"
          />
          <h6 class="mb-0">
            Senior<small class="block text-[#13C5DD]">Comsultant</small>
          </h6>
        </div>
      </div>

      <div class="w-5/8 md:3/8 font-bold">
        <div class="bg-[#EFF5F9] text-center rounded-full py-4 lg:py-20">
          <img src="/images/staff.svg" alt="" class="w-12 mb-4 mx-auto" />
          <h6 class="mb-0">
            Exprienced<small class="block text-[#13C5DD]">Nurshing Staff</small>
          </h6>
        </div>
      </div>
      <div class="w-5/8 md:3/8 font-bold">
        <div class="bg-[#EFF5F9] text-center rounded-full py-4 lg:py-20">
          <img src="images/lab.svg" alt="cath lab" class="w-12 mb-4 mx-auto" />
          <h6 class="mb-0">
            High Tech<small class="block text-[#13C5DD]">Cath Lab</small>
          </h6>
        </div>
      </div>
      <div class="w-5/8 md:3/8 font-bold">
        <div class="bg-[#EFF5F9] text-center rounded-full py-4 lg:py-20">
          <img
            src="/images/care.svg"
            alt="cardiac care"
            class="w-12 mb-4 mx-auto"
          />
          <h6 class="mb-0">
            Personalised<small class="block text-[#13C5DD]">Care</small>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
