<!--Service Section Start-->
<div class="container max-w-screen-2xl px-4 md:px-20 mx-auto mt-20">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between text-center space-x-4">
        <a
          href="#"
          class="active underline active:text-white text-[#13C5DD] px-2 py-1 rounded md:text-xl font-semibold"
          >Who we are</a
        >
        <a
          href="#"
          class="px-2 py-1 rounded text-[#13C5DD] md:text-xl font-semibold"
          >Our Mission</a
        >
        <a
          href="#"
          class="px-2 py-1 rounded text-[#13C5DD] md:text-xl font-semibold"
          >Our Goals</a
        >
      </div>

      <div class="mt-12 text-inherit text-lg" id="content">
        <p class="">
          <span class="text-xl font-bold"> We Offer High Quality Services</span>
          <br />
          <br />
          Dr. Ram Singh Yadav offers high-quality cardiac surgery, ensuring
          optimal care and successful outcomes. With extensive experience and
          advanced techniques, Dr. Yadav specializes in minimally invasive
          procedures, complex heart surgeries, and patient-centered care.
          <br />
          Dr. Yadav is one of most successful surgeon in Heart Surgery. Your
          heart's health is his priority.
        </p>
        <p class="hidden">
          <span class="text-xl font-bold">To Accomodate All Patients</span>
          <br />
          <br />
          Our mission is to provide exceptional cardiac care through innovative
          surgical techniques and compassionate patient support. We are
          committed to improving heart health and saving lives by delivering
          personalized treatment plans, fostering a healing environment, and
          staying at the forefront of medical advancements.
          <br />
          Our dedicated team works tirelessly to ensure the best outcomes for
          our patients and their families
        </p>
        <p class="hidden">
          <span class="text-xl font-bold">Help Our Customers Needs</span><br />
          <br />
          Dr. Ram Singh Yadav, Senior Consultant and renowned cardiac surgeon,
          are to highlight his exceptional expertise in cardiac surgery,
          emphasize his dedication to patient care, and showcase his
          contributions to medical advancements.
          <br />
          We aim to increase his visibility in the medical community, attract
          potential patients, and solidify his reputation as a leading authority
          in cardiac surgery through targeted outreach and strategic
          communication efforts.
        </p>
      </div>
    </div>

    <div>
      <img
        src="/images/blog-1.jpg"
        alt=""
        class="border rounded shadow w-full mt-15 lg:mt-[150px]"
      />
    </div>
  </div>
</div>

<!--section2 end-->
<!--services start-->
<div
  class="container max-w-screen-2xl px-4 md:px-20 mx-auto relative z-10 md:top-[-2rem] mt-5 md:mt-0"
>
  <div
    class="grid grid-cols-2 md:grid-cols-4 font-semibold gap-[10px] items-center text-center justify-center mx-4"
  >
    <div
      class="border rounded-lg shadow py-3 px-5 md:py-5 mx-0 bg-[#13C5DD] text-white hover:scale-105 duration-300"
    >
      <a href="#">We Truly Care</a>
    </div>
    <div
      class="border rounded-lg shadow mx-0 py-[14px] md:py-5 bg-[#13C5DD] text-white hover:scale-105 duration-300"
    >
      <a href="#">Modern Equipments</a>
    </div>
    <div
      class="border rounded-lg shadow px-4 mx-0 md:py-5 bg-[#13C5DD] text-white hover:scale-105 duration-300"
    >
      <a href="#">Highly Trained Staffs</a>
    </div>
    <div
      class="border rounded-lg shadow px-1 md:py-5 mx-0 bg-[#13C5DD] text-white hover:scale-105 duration-300"
    >
      <a href="#">Fast And Accurate Results</a>
    </div>
  </div>
</div>

<!--services End-->

<!--Medical Programmes-->
<%-include('./includes/MedProg')%>
<!--Medical Programmes End-->

<!-- treatment Start -->
<%-include('./includes/MedServices')%>
<!-- treatment End -->

<!--tpa start-->
<%-include('./includes/tpa')%>
<!--tpa end-->

<!--SSEnd-->
