<!--Service Section Start-->
<div class="container max-w-screen-2xl px-4 md:px-20 mx-auto mt-20">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between text-center space-x-4">
        <a
          href="#"
          class="active underline active:text-white text-[#13C5DD] px-2 py-1 rounded md:text-xl font-semibold"
          >Who we are</a
        >
        <a
          href="#"
          class="px-2 py-1 rounded text-[#13C5DD] md:text-xl font-semibold"
          >Our Mission</a
        >
        <a
          href="#"
          class="px-2 py-1 rounded text-[#13C5DD] md:text-xl font-semibold"
          >Our Goals</a
        >
      </div>

      <div class="mt-12 text-inherit text-lg" id="content">
        <p class="">
          <span class="text-xl font-bold">
            We Offer high-quality services.</span
          >
          <br />
          <br />
          Dr. Ram Singh Yadav provides high-standard cardiac surgery that is
          patient-oriented, ensuring recovery at all levels while also achieving
          brilliant results in every diagnosis. Dr. Yadav has had many years of
          experience dealing with difficult operations on open hearts as well as
          using modern techniques for minimally invasive surgeries.
          <br />
          As far as cardiology is concerned, he is a most successful surgeon
          than any other cardiologist. What matters to him most is you.
        </p>
        <p class="hidden">
          <span class="text-xl font-bold">To Accomodate All Patients</span>
          <br />
          <br />
          "Our goal is to deliver world-class heart treatment by means of new
          surgical methods and the caring support given to patients. We aim at
          restoring their cardiac wellbeing and preserving life through
          customized care, a healing atmosphere, and keeping up with technology
          in medicine."
          <br />
          Thus, our committed team works day and night focusing on attaining the
          best results for our clients and their loved ones.
        </p>
        <p class="hidden">
          <span class="text-xl font-bold">Help Our Customers Needs</span><br />
          <br />
          Dr. Ram Singh Yadav, senior consultant and renowned cardiac surgeon
          will discuss his expertise in surgery for the heart, his dedication to
          patient care, and his impact on the medical field. <br />Targeted
          outreach and strategic communication efforts will be employed to
          increase his visibility within the medical community as well as
          attract potential patients, thereby enhancing his status as an
          authority in cardiac surgery.
        </p>
      </div>
    </div>

    <div>
      <img
        src="/images/blog-1.jpg"
        alt=""
        class="border rounded shadow w-full mt-15 lg:mt-[150px]"
      />
    </div>
  </div>
</div>

<!--section2 end-->
<!--services start-->
<div
  class="container mx-auto px-4 md:px-8 lg:px-16 relative z-10 md:top-[-2rem] mt-5 md:mt-0"
>
  <div
    class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-4 items-center text-center justify-center"
  >
    <div
      class="bg-[#13C5DD] text-white rounded-lg shadow-md p-4 hover:scale-105 duration-300"
    >
      <a href="/service">Expert in Cardiac Surgery</a>
    </div>
    <div
      class="bg-[#13C5DD] text-white rounded-lg shadow-md p-4 hover:scale-105 duration-300"
    >
      <a href="/about">Dedicated Cardiac Care</a>
    </div>
    <div
      class="bg-[#13C5DD] text-white rounded-lg shadow-md p-4 hover:scale-105 duration-300"
    >
      <a href="/contact">Schedule a Consultation</a>
    </div>
    <div
      class="bg-[#13C5DD] text-white rounded-lg shadow-md p-4 hover:scale-105 duration-300"
    >
      <a href="/treatment">Treating Heart Conditions</a>
    </div>
  </div>
</div>
<!--services End-->

<!--Medical Programmes-->
<%-include('./includes/MedProg')%>
<!--Medical Programmes End-->

<!-- treatment Start -->
<%-include('./includes/MedServices')%>
<!-- treatment End -->

<!--tpa start-->
<%-include('./includes/tpa')%>
<!--tpa end-->

<!--SSEnd-->
